/* MASTER css file*/

/* Universal Styling (applies to all elements of a given type across all screens, unless specified by a #tag call */

/*ChoiceBox CSS*/
.choice-box .context-menu {
  -fx-background-color: black;
}

.choice-box .menu-item:focused {
  -fx-background-color: #96b946;
}

.choice-box .menu-item > .label {
  -fx-text-fill: white;
}

.choice-box .menu-item:focused > .label {
  -fx-text-fill: black;
}

.choice-box > .label {
  -fx-text-fill: black;
}

/*Tab Pane CSS*/
.tab-pane .tab-header-area .tab-header-background {
  -fx-opacity: 0;
}

.tab-pane {
  -fx-tab-min-width: 182px;
}

.tab-pane .tab {
  -fx-background-color: #e6e6e6;

}

.tab-pane .tab:selected {
  -fx-background-color: #3c3c3c;
}

.tab .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: #828282;
  -fx-font-size: 12px;
  -fx-font-weight: bold;
}

.tab:selected .tab-label {
  -fx-alignment: CENTER;
  -fx-text-fill: #96b946;
}

.tab-header-background {
  -fx-background-color: transparent;
}

/* Applied to all standalone panes inside other controls. Can be changed later */
.pane {
  -fx-background-radius: 5.0;
  -fx-padding: 8;
  -fx-background-color: #f2f7f7;
  -fx-border-color: #31353a;
  -fx-border-radius: 5.0;
}

/* Style used for all text fields */
.textField {
  -fx-background-radius: 30;
}

/* Style applied for all buttons in the */
.button {
  -fx-background-color: #000000;
  -fx-background-radius: 30;
  -fx-text-fill: #ffffff;
  -fx-font-size: 13;
}

/* style applied when mouse hovers over button */
.button:hover {
  -fx-background-color: #ffffff;
  -fx-text-fill: #000000;
}

/* Style applied for all labels */
.label {
  -fx-text-fill: #ebeeda;
}

/* Style applied for error messages */
.labelError {
  -fx-text-fill: #ee2b1b;
  -fx-font-size: 12px;
}

/* Style applied for backgrounds */
.background {
  -fx-background-color: #3d3d3d;
}

#labelTitle {
  -fx-font-family: Bodoni Ornaments;
  -fx-font-size: 25px;
}

#labelHook {
  -fx-font-size: 16px;
}

#labelHeader {
  -fx-font-size: 18px;
}

#labelTextField {
  -fx-font-size: 14px;
}

#description {
  -fx-font-size: 13px;
  -fx-text-alignment: center;
}

#workoutLabel {
  -fx-background-color: #938a8e;
}

/* FXML files are referenced in alphabetical order */

/***************************************************************
/* CreateAccount.FXML
****************************************************************/

/***************************************************************
/* Login.FXML
****************************************************************/

/***************************************************************
/* MainMenu.FXML
****************************************************************/

/***************************************************************
/* NutritionStats.fxml
****************************************************************/

/***************************************************************
/* NutritionTracker.fxml
****************************************************************/

/***************************************************************
/* Profile.fxml
****************************************************************/

/***************************************************************
/* TrainingStyle.fxml
****************************************************************/

/***************************************************************
/* WorkoutSelect.fxml
****************************************************************/
