/* Background image styling*/

.anchor {
    -fx-background-size: cover;
}

/* Label Styling for login-related screens */
.label {
    -fx-font-size: 20px;
    -fx-font-style: italic;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#login1stTimeMsg {
    -fx-font-size: 24px;
    -fx-font-family: "Lucida Sans";
    -fx-fill: #818181;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
}

#subtitlePT1 {
    -fx-font-size: 15px;
    -fx-font-family: "Lucida Sans";
    -fx-fill: #818181;
}


/* Styling for the four-panel selection display */
.grid {
    -fx-background-radius: 5.0;
    -fx-padding: 8;
    -fx-background-color: #f2f7f7;
    -fx-border-color: #31353a;
    -fx-border-radius: 5.0;
}

#choice1:hover {
    -fx-background-color: #dd1e08;
}

#choice2:hover {
    -fx-background-color: #0dd81d;
}

#choice3:hover {
    -fx-background-color: #0d21d8;
}

#choice1Dialog {
    -fx-background-color: #ffffff;
}

#choice2Dialog {
    -fx-background-color: #f2f7f7;
}

#choice3Dialog {
    -fx-background-color: #f2f7f7;
}


/* Button styling */

.button {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}